doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="css/codemirror.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")

  body(ng-app="ballonide")
    block content
  
  script(src="js/jquery-2.1.1.min.js")
  script(src="js/bootstrap.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
  script(src="js/codemirror.js")
  script(src="mode/javascript/javascript.js")
  script(src="mode/css/css.js")
  script(src="mode/xml/xml.js")
  script(src="mode/htmlmixed/htmlmixed.js")
  script(src="js/core.js")
  script(src="js/directives.js")
  script(src="js/editor/editor.js")
  script(src="js/utils/menu.js")
  script(src="js/code_engine/engine.js")
  script(src="js/esprima.js")
  script(src="js/main.js")
